@mixin backgroundOverlay($backgroundSetting, $overlayOpacity: 100%) {
    position: relative;

    .wp-block-cover__inner-container,
    .container {
        z-index: 5;
        position: relative;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $backgroundSetting;
        opacity: $overlayOpacity;
        position: absolute;
        z-index: 3;
    }
}

//Icon Position and Button Size is optional conditions
//Use right facing version of the svg for the button icon

@mixin flickityButtonIcon($backgroundColor, $icon, $iconColor: $primary, $iconPosition: 0px, $buttonSize: 44px, $hoverbgColor: $iconColor, $hoverIconColor: $backgroundColor, $borderColor: $backgroundColor, $hoverborder: $hoverbgColor) {
    svg {
        display: none;
    }

    width: $buttonSize;
    height: $buttonSize;

    &.next {
        background-color: $backgroundColor;
        border: 1px solid $borderColor;
        position: absolute;
        right: $iconPosition;

        &::after {
            content: '';
            width: 70%;
            height: 70%;
            top: 15%;
            left: 15%;
            background: $iconColor;
            -webkit-mask: $icon;
            mask: $icon;
            mask-position: center center;
            mask-size: contain !important;
            mask-repeat: no-repeat !important;
            -webkit-mask-position: center center;
            -webkit-mask-size: contain !important;
            -webkit-mask-repeat: no-repeat !important;
            position: absolute;
        }
    }

    &.previous {
        background-color: $backgroundColor;
        border: 1px solid $borderColor;
        position: absolute;
        left: $iconPosition;

        &::after {
            content: '';
            width: 70%;
            height: 70%;
            top: 15%;
            left: 15%;
            background: $iconColor;
            -webkit-mask: $icon;
            transform: rotate(180deg);
            mask: $icon;
            mask-position: center center;
            mask-size: contain !important;
            mask-repeat: no-repeat !important;
            -webkit-mask-position: center center;
            -webkit-mask-size: contain !important;
            -webkit-mask-repeat: no-repeat !important;
            position: absolute;
        }
    }

    &:disabled {
        opacity: 1;
    }

    &:hover {
        &.next {
            background-color: $hoverbgColor !important;
            border: 1px solid $hoverborder;
            transition: 0.4s;

            &:after {
                background: $hoverIconColor;
                transition: 0.4s;
            }
        }

        &.previous {
            background-color: $hoverbgColor !important;
            border: 1px solid $hoverborder;
            transition: 0.4s;

            &:after {
                background: $hoverIconColor;
                transition: 0.4s;
            }
        }
    }
}

@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin socialCircle($circleSize, $backgroundColor, $hoverBackground, $iconColor, $hoverIconColor: $iconColor) {
    a {
        background: $backgroundColor;
        width: $circleSize;
        height: $circleSize;
        border-radius: 50%;
        @include centerFlex;
        transition: 0.5s;

        i {
            color: $iconColor;
            font-size: 16px;
            transition: 0.5s;
        }

        &:hover {
            background: $hoverBackground;
            transition: 0.5s;

            i {
                color: $hoverIconColor;
                transition: 0.5s;
            }
        }
    }
}

@mixin svgMask($svg, $maskSize: 'contain', $maskPosition: 'center center', $maskRepeat: 'no-repeat') {
    mask: $svg;
    mask-position: $maskPosition;
    mask-size: $maskSize !important;
    mask-repeat: $maskRepeat !important;
    -webkit-mask-position: $maskPosition;
    -webkit-mask-size: $maskSize !important;
    -webkit-mask-repeat: $maskRepeat !important;
}
