@mixin backgroundOverlay($backgroundSetting, $overlayOpacity: 100%) {
    position: relative;

    .wp-block-cover__inner-container,
    .container {
        z-index: 5;
        position: relative;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $backgroundSetting;
        opacity: $overlayOpacity;
        position: absolute;
        z-index: 3;
    }
}